@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    background-color: #1f242d;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-nav 1.5s linear forwards;
}
@keyframes show-nav{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar ul li:hover a,
.navbar ul li .active{
    color:#00ff7f;
}
.home{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-nav 1.8s linear forwards;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -2px;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #00ff7f;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #00ff7f;
    color: #00ff7f;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-social{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #00ff7f;
    border: 2px solid #00ff7f;
    border-radius: 40px;
    box-shadow: 0 0 10px #00ff7f;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.btn:hover{
    background: transparent;
    color: #00ff7f;
    box-shadow: none;
}
.social-link{
    margin-left: 20px;
}
.social-link a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #00ff7f;
    border-radius: 50px;
    font-size: 20px;
    margin: 0 8px;
    transition: 0.5s;
}
.social-link a:hover{
    background: #00ff7f;
    color: #1f242d;
    box-shadow: 0 0 10px #00ff7f;
}
.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: #1f242d;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#00ff7f);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box::after{
    animation-delay: -5s;
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    top: 15px;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;

}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform:translateY(0%) ;
    }
}
#about{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    background-color: #1f242d;
    color: #fff;
    height: 600px;
    width: 40%;
    padding: 50px;
    margin-top: 40px;
    border: 2px solid #1f242d;
    border-radius: 10px;
    box-shadow: 0 0 10px #1f242d;
    border-right: 0;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.abouthead{
    font-size: 25px;
    color: #00ff7f;
    font-weight: 700;
    margin-bottom: 10px;
}
.div{
    width: 100%;
    height: 18%;
}

.img{
    height: 80px;
    width: 20%;
}

.right{
    background-color: #fff;
    color: #1f242d;
    height: 600px;
    width: 40%;
    margin-top: 40px;
    padding: 50px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #1f242d;
    border-radius: 10px;
    border-left: 0;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.right input{
    width: 100% ;
    height: 50%;
    border: 0;
    background-color: #fff;
    border-bottom: 2px solid #1f242d;
}
#Services{
    width: 100vw;
    height: 100vh;
}
.Servicehead{
    padding: 10px 9%;
    color: #00ff7f;
}
.parentServiceCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.serviceCard{
    width: 25%;
    height: 260px;
    background-color: #1f242d;
    text-align: center;
    padding-top: 60px;
    margin: 30px;
    border-radius: 10px;
    color: #fff;
}
.serviceCard:hover{
    background-color: #00ff7f;
}